body{
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #fff;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    height: 100vh;
}


.sidebar{
    width: 18%;
    height: 1000px;
    background-color: #121212;
    position: fixed;
    top: 0px;
}

.my-image{
    width: 100%;
    height: 250px;
    opacity: 0.7;
    border-radius: 50%;
}

.title{
    /* background-color: rgba(40, 40, 58, 0.9); */
    background-color: rgb(86, 111, 103);
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    font-weight: 500;
    /* padding-left: 12px; */
    position: absolute;
    top:12.5rem;
    padding-top: 10px;
    font-family: 'Merriweather', serif;
    color: white;
    letter-spacing: 1.1px;
    text-align: center;
}

.nav-option{
    width: 100%;
    height:46px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 5px #232323;
}
.nav-option i{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 40px;
    padding-top: 18px;
    opacity: 0.7;
}
.nav-option a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    letter-spacing: 1.3px;
    position: absolute;
    left: 70px;
    padding-top: 18px;
    opacity: 0.7;
}

.nav-option a:hover{
    opacity: 1;
}
.nav-option i:hover{
    cursor: pointer;
    opacity: 1;
}

.line{
    width: 100%;
    height: 1.2px;
    background-color: #232323;
    margin-top: 55px;
}

.sidebar-footer{
    height: 100%;
    background-color: #121212;
}

.sidebar-footer i{
    position: relative;
    padding-left: 10px;
    left: 40px;
    top: 30px;
    font-size: 17px;
    opacity: 0.7;
}
.sidebar-footer i:hover{
    opacity: 1;
    cursor: pointer;
}

.main-content
{
    background-color: #121212;
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    flex:1;
    overflow: auto;
}

.profile h1{
    position: absolute;
    top: 35%;
    left: 22%;
    font-size: 45px;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif; 
    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes colorAnimation{
    from{
        font-size:45px;
    }
    to{
        font-size: 50px;
    }
}
.profile p{
    position: absolute;
    top: 45%;
    left: 27%;
    font-size: 28px;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Playfair Display', serif;  */
}
.profile h1 span{
    color: rgba(118, 240, 209, 0.9);
    /* color: rgb(226, 83, 147); */
}

.type{
    /* color: rgb(224, 123, 55); */
    color: yellow;
}


